.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
    scale: 1.05;
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__item-image img{
    object-fit: cover;
}

.portfolio__item h3 {
    margin: 1rem 0 1.2rem;
}

.portfolio__item-cta {
    display: flex;
    /* justify-content: center; */
    gap: 1.5rem;
    margin-bottom: 0.5rem;
}

.portfolio__item-cta .btn-secondary{
    visibility: hidden;
}
.portfolio__item:nth-child(2) .btn-secondary{
    visibility: visible;
}

/* =================== MEDIA QUERIES (MEDIUM DEVICES) ===================*/
@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* =================== MEDIA QUERIES (SMALL DEVICES) ===================*/
@media screen and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}
